name: Build and Deploy Alpha Library

on:
  push:
    tags:
      - 'alpha-*'

jobs:
  build-and-deploy-alpha-library:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure environment
        uses: ./.github/workflows/actions/build-env-setup

      - name: Build, Test, Package
        run: yarn prepare-to-publish
        shell: bash

      - name: Deploy to NPMJS
        run: yarn publish --no-git-tag-version --non-interactive --new-version 2.1.$GITHUB_RUN_NUMBER-alpha dist
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Save coverage reports
        uses: ./.github/workflows/actions/test-report
