name: Build and Deploy Production Library

on:
  push:
    tags:
      - 'release-*'

jobs:
  build-and-deploy-production-library:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure environment
        uses: ./.github/workflows/actions/build-env-setup

      - name: Build, Test, Package
        run: yarn prepare-to-publish
        shell: bash

      - name: Apply CI vars
        run: yarn apply-ci-vars
        shell: bash

      - name: Deploy to NPMJS
        run: yarn publish --no-git-tag-version --non-interactive --new-version 2.0.$GITHUB_RUN_NUMBER dist
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Save coverage reports
        uses: ./.github/workflows/actions/test-report
